body {
	background-color: #dbdbdb;
}
.navbar {
	color: black;
}


.jumbotron {
	padding-top: 110px;
	padding-bottom: 150px;
	background-image: url(img/20.png);
	background-color: #dbdbdb;
}

.linkedin-pdf img{
	width: 50px;
	height: 55px;
}

h4 {
	font-size: 30px;
}

#about {
	font-size: 20px;
	padding-top: 140px;
	padding-bottom: 100px;
}

#project {
	font-size: 20px;
	padding-top: 140px;
	padding-bottom: 100px;
}

#contact {
	padding-top: 140px;
	padding-bottom: 170px;
	background-image: url(img/20.png);
}

#contact {
	padding-top: 140px;
	padding-bottom: 170px;
	background-image: url(img/20.png);
	align-items: center;
	align-content: center;
}

h6 {
	font-size: 20px;
}
